/*Colores*/
/*Tipografias*/
body {
  margin-top: 75px;
  background-color: #fbdada;
  width: 100%;
}

/*Nav*/
.nav {
  background-color: #edb2b4;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav__logo {
  margin: 5px 0 0 10px;
}

#nav__btn {
  display: none;
  margin: 10px;
}

.nav__icon {
  display: none;
  display: none;
  width: 60px;
  padding: 10px;
  -moz-columns: #0F0808;
       columns: #0F0808;
  font-size: 30px;
  transition: all 500ns ease;
}

.nav__icon:hover {
  background-color: rgba 0, 0, 0, 0.3;
}

.nav__menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  margin: 0;
  width: 1000px;
}

.nav__menu ul {
  width: auto;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__menu li {
  margin: 0 30px;
  padding: 15px;
  display: inline-block;
}

.nav__button {
  font: 900 20pt "Kanit", sans-serif;
  color: #0F0808;
  letter-spacing: 3px;
  margin: 0;
  display: inline-block;
  transition: all 300ms ease;
}

.nav__button:hover {
  color: #F9F4F4;
  text-decoration: none;
}

.nav__button li {
  padding: 15px;
}

.nav__redes {
  margin: 0;
  width: 200px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav__redes ul {
  width: 200px;
  margin: 0;
  padding: 0;
}

.nav__redes__icon {
  margin: 15px;
  font-size: 25px;
  color: #0F0808;
  transition: all 300ms ease;
}

.nav__redes__icon:hover {
  color: #F9F4F4;
  text-decoration: none;
}

/*index*/
.banner {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  transition: all 0.25s;
  width: 100%;
  height: 650px;
}

.banner :hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px #F9F4F4;
  background-color: #0F0808;
  color: #F9F4F4;
  text-decoration: none;
}

.banner__cta {
  position: absolute;
  margin-top: 0;
  left: 800px;
  top: 650px;
}

.banner__button {
  color: #F9F4F4;
  background-color: #e08686;
  border-color: #F9F4F4;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  height: 10px;
  width: 80px;
  padding: 5px 20px;
  font-size: 24pt;
  margin: 30px 0;
  font-weight: 700;
}

.opcionesIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  height: 400px;
  background-color: #fdecec;
}

.opcionesIndex__button {
  color: #F9F4F4;
  background-color: #e08686;
  box-shadow: 5px 5px #0F0808;
  border-color: #F9F4F4;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  height: 20px;
  width: 80px;
  padding: 5px;
  font-size: 24pt;
  font-weight: 600;
  margin: 0;
}

.opcionesIndex__card {
  height: 300px;
  width: 300px;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  margin: 0;
  box-shadow: 15px 15px #edb2b4;
  transition: all 0.25s;
}

.opcionesIndex__card :hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px #F9F4F4;
  background-color: #0F0808;
  color: #edb2b4;
  text-decoration: none;
}

.opcionesIndex__card-sushi {
  background-image: url(../img/sushi.jpg);
  background-repeat: no-repeat;
}

.opcionesIndex__card-ramen {
  background-image: url(../img/ramen.jpg);
  background-repeat: no-repeat;
}

.opcionesIndex__card-buns {
  background-image: url(../img/buns.jpg);
  background-repeat: no-repeat;
}

.opcionesIndex__card-dumplings {
  background-image: url(../img/dumpling.jpg);
  background-repeat: no-repeat;
}

.ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.ubicacion__titulo {
  font: 700 28pt "Kanit", sans-serif;
  height: 70px;
  padding: 30px 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.ubicacion__sucursales {
  margin: 50px 0;
  width: 500px;
  display: grid;
  grid-template-areas: "mapa info";
  grid-template-columns: 500px;
  grid-template-rows: 600px;
  justify-content: center;
  align-content: center;
}

.ubicacion__mapa {
  width: 500px;
  height: 600px;
  margin: 0;
  grid-area: mapa;
  box-shadow: 15px 15px #edb2b4;
}

.ubicacion__locales {
  background-color: #F9F4F4;
  width: 500px;
  height: 600px;
  margin: 0;
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 15px 15px #edb2b4;
}

.ubicacion__locales__info {
  font: 700 28pt "Kanit", sans-serif;
  color: #0F0808;
  margin: 10px;
}

.ubicacion__locales__info-texto {
  font: 400 18pt "Kanit", sans-serif;
  color: #0F0808;
  margin: 0;
}

/*Footer*/
.footer {
  background-color: #0F0808;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer ul li {
  color: white;
  font-size: 14px;
  margin-left: 0;
  list-style: none;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 3px;
}

.footer__locales {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 0;
  padding: 5px;
  width: 1300px;
}

.footer__infoLocales {
  font-size: 14pt;
  color: #e08686;
  margin-left: 50px;
  text-align: center;
}

.footer__datos {
  list-style: none;
  font-size: 12pt;
  font-weight: 100;
}

.icofont-google-map {
  margin-right: 10px;
}

.icofont-ui-clock {
  margin-right: 10px;
}

.icofont-phone {
  margin-right: 10px;
}

/*Locales*/
.sucursales {
  background-color: #fbdada;
  margin-top: 75px;
  padding-bottom: 203px;
  display: flex;
  justify-content: center;
}

.sucursales__locales {
  margin: 25px 50px 0 0;
  display: grid;
  grid-template-areas: "nuestros-locales" "fotoLanus";
  grid-template-rows: 200px;
  box-shadow: 15px 15px #edb2b4;
  transition: all 0.25s;
}

.sucursales__locales:hover {
  transform: translateY(-15px);
  box-shadow: 15px 15px #e08686;
}

.sucursales__nuestroslocales {
  background-color: #fdecec;
  width: 400px;
  height: 200px;
  grid-area: nuestros-locales;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sucursales__locales__barrios {
  font-size: 24pt;
  font-weight: 700;
  color: #0F0808;
  margin-top: 20px;
}

.sucursales__locales__info {
  font-size: 14pt;
  font-weight: 400;
  margin: 0;
}

.sucursales__locales__info-lanus {
  grid-area: fotoLanus;
  margin: 0;
}

.sucursales__locales__info-lomas {
  grid-area: fotoLomas;
  margin: 0;
}

.sucursales__locales__info-lomas {
  grid-area: fotoAdrogue;
  margin: 0;
}

/*Menu*/
.menu {
  margin-bottom: 35px;
}

.menu__opciones {
  display: flex;
  justify-content: center;
}

.menu__fondo {
  background-color: #fdecec;
}

.menu__nombre {
  font: 700 18pt "Kanit", sans-serif;
  color: #0F0808;
  padding-left: 30px;
  margin-top: 10px;
  grid-area: ingredientes;
}

.menu__texto {
  font: 400 18pt "Kanit", sans-serif;
  color: #0F0808;
  padding-left: 30px;
  margin-top: 10px;
  grid-area: ingredientes;
}

.menu__titulo {
  background-color: #fdecec;
  color: #0F0808;
  font: 700 28pt "Kanit", sans-serif;
  padding: 20px 0 20px 30px;
  grid-area: titulo;
  margin: 0;
}

.veggie {
  color: #389E38;
}

.menu__sushi {
  margin: 25px 0 0 50px;
  display: grid;
  grid-template-areas: "titulo fotoSushi" "ingredientes fotoSushi";
  grid-template-columns: 600px 600px;
  grid-template-rows: 150px auto;
  box-shadow: -15px 15px #edb2b4;
}

.sushi__foto {
  margin: 0;
  grid-area: fotoSushi;
}

.menu__ramen {
  margin: 100px 0 0 50px;
  display: grid;
  grid-template-areas: "fotoRamen titulo" "fotoRamen ingredientes";
  grid-template-columns: auto 600px;
  grid-template-rows: 150x 1000px;
  box-shadow: 15px 15px #edb2b4;
}

.ramen__foto {
  margin: 0;
  grid-area: fotoRamen;
}

.menu__buns {
  margin: 100px 0 0 50px;
  display: grid;
  grid-template-areas: "titulo fotoBun" "ingredientes fotoBun";
  grid-template-columns: 600px 600px;
  grid-template-rows: 150px auto;
  box-shadow: -15px 15px #edb2b4;
}

.buns__foto {
  margin: 0;
  grid-area: fotoBun;
}

.menu__dumpling {
  margin: 100px 0 0 50px;
  display: grid;
  grid-template-areas: "fotoDumpling titulo" "fotoDumpling ingredientes";
  grid-template-columns: 600px 600px;
  grid-template-rows: auto 850px;
  box-shadow: 15px 15px #edb2b4;
}

.dumpling__foto {
  margin: 0;
  grid-area: fotoDumpling;
}

/*faq*/
.faq {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.faq__grilla {
  margin: 25px 0 50px 0;
  display: grid;
  grid-template-areas: "formulario preg-resp";
  grid-template-rows: 700px;
  grid-template-columns: 600px;
  box-shadow: 15px 15px #edb2b4;
}

.faq__form {
  background-color: #fbdada;
  display: flex;
  justify-content: center;
  grid-area: formulario;
}

.formulario {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.form__completar {
  width: 600px;
  height: 900px;
  background-color: #0F0808;
}

.form__titulo {
  font: 700 28pt "Kanit", sans-serif;
  color: #F9F4F4;
  margin: 0;
  background-color: #0F0808;
  width: 600px;
  height: 80px;
  grid-area: pregunta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__label {
  margin-left: 30px;
  color: #F9F4F4;
}

.form__input {
  font-size: 18px;
  margin: 5px;
  width: 470px;
}

.form__input-mail {
  font-size: 18px;
  margin: 5px;
  width: 486px;
}

.form__input-textArea {
  font-size: 18px;
  margin: 10px 30px 20px 30px;
  width: 540px;
}

.form__cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form__button {
  background-color: #e08686;
  color: white;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px;
  margin: 15px;
  border: none;
}

.faq__preguntas {
  background-color: #fbdada;
  margin: 0;
  display: flex;
  justify-content: center;
  grid-area: preg-resp;
}

.faq__pregRta {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.faq__container {
  height: 700px;
  background-color: #fdecec;
}

.faq__titulo {
  font: 700 28pt "Kanit", sans-serif;
  color: #0F0808;
  margin: 0;
  background-color: #fdecec;
  width: 600px;
  height: auto;
  grid-area: pregunta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq__texto-preguntas {
  font-size: 16pt;
  font-weight: 700;
  color: #0F0808;
  margin: 0;
  padding-top: 20px;
  background-color: #fdecec;
  width: 600px;
  height: auto;
  grid-area: pregunta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq__texto-respuestas {
  font-size: 14pt;
  font-weight: 500;
  color: #0F0808;
  margin: 0;
  padding-top: 20px;
  background-color: #fdecec;
  width: 600px;
  height: auto;
  grid-area: pregunta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Pedido*/
.pedido {
  background-color: #fbdada;
  margin-bottom: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.pedido__formulario {
  background-color: #fdecec;
  margin-top: 100px;
  display: grid;
  grid-template-areas: "formulario-pedido";
  grid-template-rows: 1100px;
  grid-template-columns: 1000px;
  box-shadow: 15px 15px #edb2b4;
}

.pedido__container {
  background-image: #fdecec;
  margin-bottom: 50px;
  display: inline-block;
}

.pedido__titulo {
  font: 700 28pt "Kanit", sans-serif;
  color: #0F0808;
  margin: 0;
  background-color: #fdecec;
  width: 100%;
  height: auto;
  grid-area: pregunta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pedido__subtitulo {
  font: 700 18pt "Kanit", sans-serif;
  color: #e08686;
  margin: 20px 30px;
  grid-area: formulario-pedido;
}

.pedido__datos {
  font: 700 18pt "Kanit", sans-serif;
  margin-left: 30px;
  color: #0F0808;
  grid-area: formulario-pedido;
}

.pedido__input-name {
  font-size: 18px;
  margin: 5px;
  width: 700px;
}

.pedido__input-ad {
  font-size: 18px;
  margin: 5px;
  width: 800px;
}

.pedido__input-ph {
  font-size: 18px;
  margin: 5px;
  width: 810px;
}

.pedido__input-mail {
  font-size: 18px;
  margin: 5px;
  width: 850px;
}

.pedido__productos {
  width: 100px;
  font-size: 16px;
}

.pedido__input-cant {
  font-size: 18px;
  margin: 5px;
  width: 40px;
}

.form__input-textArea1 {
  width: 90%;
  margin: 30px;
}

.pedido__pago {
  font: 700 18pt "Kanit", sans-serif;
  display: inline-block;
  margin: 5px 5px 10px 30px;
  padding: 5px;
  grid-area: formulario;
}

.pedido__input-cash {
  margin: 5px 50px 0 0;
}

.pedido__nl {
  font: 400 18pt "Kanit", sans-serif;
  margin: 0 10px 10px 30px;
}

.pedido__cbx {
  margin-top: 15px;
}

/*Pantallas*/
@media (max-width: 576px) {
  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    height: 75px;
  }

  .nav__menu {
    background-color: #edb2b4;
    height: auto;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 100;
    margin-top: -100%;
    transition: all 500ms ease;
  }

  .nav__menu ul {
    background-color: #edb2b4;
    flex-direction: column;
    border: 1px solid #F9F4F4;
    width: 100%;
    margin: 0;
  }

  #nav__btn:checked ~ .nav__menu {
    margin: 0;
  }

  .nav__icon {
    display: block;
    margin: 0;
  }

  .nav__logo, .nav__redes {
    display: none;
  }

  .nav__button {
    font-size: 12pt;
    margin: 0;
  }

  .bodyIndex {
    background-color: #fbdada;
    width: 100%;
    height: auto;
  }

  .banner {
    margin-top: 100px;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }

  .banner__cta {
    font-weight: 500;
    margin: 100px;
  }

  .banner__button {
    color: white;
    background-color: #e08686;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    height: 10px;
    width: 80px;
    padding: 5px 20px;
    font-size: 20pt;
    margin: 30px 0;
  }

  .nav__button {
    display: flex;
  }

  .nav__redes {
    display: none;
  }

  .opcionesIndex {
    max-width: 100%;
    height: 1500px;
    padding: auto;
    display: flex;
    flex-direction: column;
  }

  .carousel-inner, .slide {
    display: none;
  }

  .ubicacion {
    display: none;
  }

  .opcionesIndex__card {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .ubicacion__titulo {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .footer {
    width: auto;
  }

  .footer__locales, .footer__infoLocales .footer__datos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .nav__logo {
    height: 40px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    width: auto;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
  }

  .nav__menu {
    font-size: 16pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 0;
    padding: 0;
    width: 430px;
  }

  .nav__menu ul {
    height: auto;
    padding: 0;
    font-size: 14px;
  }

  .nav__menu ul li {
    height: auto;
    margin: 8px;
    padding: 0;
    font-size: 16pt;
  }

  .nav__button {
    font-size: 16pt;
    letter-spacing: 3px;
    font-weight: 900;
    display: inline-block;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .nav__redes, .nav__redes ul {
    display: none;
  }

  .banner {
    height: 350px;
  }

  .banner__button {
    color: white;
    background-color: #e08686;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    height: 10px;
    width: auto;
    padding: 5px 20px;
    font-size: 18pt;
    margin: 30px 0;
    font-weight: 700;
  }

  .banner__cta {
    position: absolute;
    margin-top: 0;
    left: 30%;
    top: 50%;
  }

  .opcionesIndex {
    width: auto;
    height: 100%;
    padding: auto;
    display: flex;
    flex-direction: column;
  }
  .opcionesIndex__card {
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    font-size: 12pt;
    margin: 20px 0;
  }

  .opcionesIndex__button {
    font-size: 18pt;
  }

  .ubicacion__titulo {
    margin-top: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    font-size: 20pt;
  }

  .ubicacion {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    height: 680px;
  }

  .ubicacion__mapa {
    display: none;
  }

  .ubicacion__sucursales {
    margin: 10px;
    display: grid;
    grid-template-areas: "lanus" "lomas" "adrogue";
    grid-template-rows: 200px;
    grid-template-columns: 500px;
    justify-content: center;
    align-content: center;
  }

  .ubicacion__locales__info {
    font-size: 18pt;
  }

  .ubicacion__locales__info-texto {
    font-size: 16pt;
  }

  .footer {
    width: auto;
  }

  .footer__locales, .footer__infoLocales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .datos-en-footer {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 768px) and (max-width: 922px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 75px;
  }

  .nav__logo {
    height: 50px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
  }

  .nav__menu {
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    padding: 0;
    width: 430px;
  }

  .nav__menu ul {
    height: auto;
    padding: 0;
    font-size: 14px;
  }

  .nav__menu ul li {
    height: auto;
    margin: 8px;
    padding: 0;
    font-size: 12pt;
  }

  .nav__button {
    letter-spacing: 3px;
    font-weight: 900;
    display: inline-block;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .nav__redes, .nav__redes ul {
    display: none;
  }

  .banner {
    height: 380px;
  }

  .banner__cta {
    position: absolute;
    margin-top: 0;
    left: 35%;
    top: 50%;
  }

  .banner__button {
    color: white;
    background-color: #e08686;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    height: 10px;
    width: 80px;
    padding: 5px 20px;
    font-size: 18pt;
    margin: 30px 0;
    font-weight: 700;
  }

  .opcionesIndex {
    background-color: #fdecec;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 10px;
    height: 400px;
    width: auto;
  }

  .opcionesIndex__card {
    height: 300px;
    width: 150px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    margin: 0;
    font-size: 18pt;
  }

  .opcionesIndex__card-sushi {
    background-image: url(../img/sushi922.jpg);
    background-repeat: no-repeat;
  }

  .opcionesIndex__card-ramen {
    background-image: url(../img/ramen922.jpg);
    background-repeat: no-repeat;
  }

  .opcionesIndex__card-buns {
    background-image: url(../img/bun922.jpg);
    background-repeat: no-repeat;
  }

  .opcionesIndex__card-dumplings {
    background-image: url(../img/dumpling922.jpg);
    background-repeat: no-repeat;
  }

  .ubicacion__titulo {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    font-size: 20pt;
    height: 40px;
  }

  .ubicacion {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    height: 680px;
  }

  .ubicacion__mapa {
    display: none;
  }

  .ubicacion__sucursales {
    margin: 10px;
    display: grid;
    grid-template-areas: "lanus" "lomas" "adrogue";
    grid-template-rows: 200px;
    grid-template-columns: 500px;
    justify-content: center;
    align-content: center;
  }

  .footer {
    width: auto;
  }

  .footer__locales, .footer__infoLocales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14pt;
  }

  .footer__datos {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 922px) and (max-width: 1200px) {
  .nav {
    background-color: #edb2b4;
    height: 75px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
  }

  .nav__logo {
    margin-left: 20px;
  }

  .nav__menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    width: 60%;
    margin: 0;
  }

  .nav__menu ul {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  .nav__menu li {
    margin: 0 5px;
    padding: 20px;
    font-size: 18pt;
  }

  .nav__button {
    font-size: 20pt;
    letter-spacing: 3px;
    font-weight: 900;
    display: inline-block;
    margin: 0;
  }

  .nav__redes {
    margin: 0;
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav__menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;
  }

  .nav__redes__icon {
    padding: 5px;
    font-size: 20px;
  }

  .banner__cta {
    position: absolute;
    margin-top: 0;
    left: 350px;
    top: 300px;
  }

  .banner__button {
    color: white;
    background-color: #e08686;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    height: 10px;
    width: 80px;
    padding: 5px 20px;
    font-size: 18pt;
    margin: 30px 0;
    font-weight: 700;
  }

  .opcionesIndex {
    background-color: #fdecec;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 10px;
    height: 400px;
    width: auto;
  }

  .opcionesIndex__card {
    height: 300px;
    width: 150px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    margin: 0;
    font-size: 18pt;
  }

  .opcionesIndex__card-sushi {
    background-image: url(../img/sushi922.jpg);
    background-repeat: no-repeat;
  }

  .opcionesIndex__card-ramen {
    background-image: url(../img/ramen922.jpg);
    background-repeat: no-repeat;
  }

  .opcionesIndex__card-buns {
    background-image: url(../img/bun922.jpg);
    background-repeat: no-repeat;
  }

  .opcionesIndex__card-dumplings {
    background-image: url(../img/dumpling922.jpg);
    background-repeat: no-repeat;
  }

  .ubicacion__titulo {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    font-size: 20pt;
    height: 40px;
  }

  .ubicacion {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    height: 680px;
  }

  .ubicacion__mapa {
    display: none;
  }

  .ubicacion__sucursales {
    margin: 10px;
    display: grid;
    grid-template-areas: "lanus" "lomas" "adrogue";
    grid-template-rows: 200px;
    grid-template-columns: 500px;
    justify-content: center;
    align-content: center;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1500px) {
  .nav__logo {
    margin-left: 20px;
    height: 90%;
  }

  .navBar {
    background-color: #edb2b4;
    height: 75px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
  }

  .nav__menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    width: 60%;
    margin: 0;
  }

  .nav__menu ul {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  .nav__menu li {
    margin: 0 5px;
    padding: 20px;
    font-size: 20pt;
  }

  .nav__button {
    font-size: 24pt;
    letter-spacing: 3px;
    font-weight: 900;
    display: inline-block;
    margin: 0;
  }

  .nav__button li {
    padding: 0px;
  }

  .colorNav {
    color: #0f0808;
  }

  .nav__button :hover {
    color: white;
  }

  .nav__redes {
    margin: 0;
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav__menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;
  }

  .rr-ss {
    padding: 5px;
    font-size: 20px;
  }

  .carousel-inner, .slide {
    width: 100%;
    height: auto;
  }

  .banner__cta {
    position: absolute;
    margin-top: 0;
    left: 450px;
    top: 400px;
  }

  .banner__button {
    color: white;
    background-color: #e08686;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    height: 10px;
    width: 80px;
    padding: 5px 20px;
    font-size: 24pt;
    margin: 30px 0;
    font-weight: 700;
  }
}/*# sourceMappingURL=style.css.map */